/* Universal selector */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

/* Styling for welcome text and start button */
body {
    max-height: 100%;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    background-color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    background-color: grey;
    color: black;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    font-size: 48px;
}

p {
    font-size: 24px;
}

.start-btn {
    height: 60px;
    width: 100px;
    background-color: lightgreen;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 5px;
    border-style: inset;
    font-size: 20px;
}


nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    background-color: rgb(59, 59, 59);
    color: white;
}

/* This is the dropdown menu styling */

.game-menu {
    font-size: 20px;
    padding: 10px;
    position: relative;
    display: inline-block;
}

.drop-menu {
    background-color: grey;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 1px dashed;
    border-radius: 10%;
}

.drop-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop-content a:hover {background-color: #ddd;}

.game-menu:hover .drop-content {display: block;}
  
.game-menu:hover .drop-menu {background-color: #3e8e41;}

.quiz-timer {
    background-color: grey;
    font-size: 20px;
    padding: 10px;
    border: 1px dashed;
    border-radius: 10%;
    margin-right: 10px;
}

/* Styling for main area where questions and answers appear */


main {
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
}
.quiz-area {
    background-color: wheat;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 25px;
    margin-left: 170px;
    width: 75%;
}

.answer {
    color: black;
    font-weight: bold;
    font-size: 30px;
    height: 20px;
    width: 20px;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid black;
    margin: 25px;
    text-align: center;
    justify-content: center;
}

