/* Universal selector */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

/* Styling for welcome text and start button */
header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: grey;
    color: black;
    justify-content: center;
    align-items: center;
  }

h1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    font-size: 48px;
  }

.start-btn {
    height: 40px;
    width: 80px;
    background-color: lightgreen;
    color: black;
    font-weight: bold;
    border-style: none;
    border-radius: 5px;
    margin-left: 5px;
    border-style: inset;
}


nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between;
    background-color: rgb(59, 59, 59);
    color: white;
}

/* This is the dropdown menu styling */

.game-menu {
    font-size: 20px;
    padding: 10px;
    position: relative;
    display: inline-block;
}

.drop-menu {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

.drop-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop-content a:hover {background-color: #ddd;}

.game-menu:hover .drop-content {display: block;}
  
.game-menu:hover .drop-menu {background-color: #3e8e41;}

.timer {
    font-size: 20px;
    padding: 10px;
}

/* Styling for main area where questions and answers appear */

main {
    background-color: lightblue;
}
.quiz-area {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    max-width: 500px;
    max-height: 500px;
    padding: 25px;
    margin: 50px;
}